@font-face {
    font-family: Proxima;
    src: url(../fonts/ProximaNova-Light.otf);
}

@font-face {
    font-family: Proxima;
    src: url(../fonts/ProximaNova-Thin.otf);
    font-weight: 100;
}

@font-face {
    font-family: Proxima;
    src: url(../fonts/ProximaNova-Sbold.otf);
    font-weight: bold;
}

$font-stack: Proxima, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$break-mobile: 800px;
$break-medium: 900px;
$break-large: 1200px;
$break-xlarge: 2300px;

$primary-accent: #dfc9ba;
$primary-solid: #d9a273;
$title-box-color: #fffffe;
$font-color: #888;
$portfolio-grey-box: rgba(0, 0, 0, 0.03);
$portfolio-beige-box: #efe3dc;

body {
  margin: 0;
  font-family: $font-stack;
  font-size: 16px;
  color: $font-color;
  overflow-x:hidden;
  letter-spacing: 1px;
  line-height: 27px;


  &.fixed-position {
	  overflow: hidden;
  }
}

.dimmer {
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	visibility: hidden;
	z-index: 2;
	opacity: 0;

	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;

	&.open {
		visibility: visible;
		opacity: 1;
		transition: visibility 0s, opacity 0.5s linear;
	}
}

.full-height {
  height: 100vh;
}

.full-width {
  width: 100vw;
}

.content-width {
  margin-left: auto;
  margin-right: auto;
  max-width: $break-large;
  width: 100%;
}

.horizontally-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.toggle-more {
	display:none;
}

@media screen and (min-width: $break-mobile) {

	.overflowed400 {
		height: 380px;

		.content {
			height: 250px;
		}
	}

	.overflowed300 {
		height: 280px;

		.content {
			height: 150px;
		}
	}

	.overflowed400, .overflowed300 {

		position: relative;

		.content {
			overflow-y: hidden;
		}

		&.expanded {
			height: auto;

			.content {
				height: auto;
			}

			.toggle-more {
				img {
					display: none;
				}
			}
		}

		.toggle-more {
			display: block;
			cursor: pointer;

			color: $primary-accent;
			font-weight: bold;
			letter-spacing: 3px;
			font-size: 12px;

			position: absolute;
			width: 100%;
			text-align: center;
			bottom: -20px;
			z-index: 1;

			img {
				height: 25px;
			}

			.readmore {
				display: block;
				&:hover {

				}
			}
			.readless {
				display: none;
			}
		}
	}
}

.top {
	margin-bottom: 0 !important;
}

.middle {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.bottom {
	margin-top: 0 !important;
}

.one-half {
	width: 50%;
}

.expanded {
	.readmore {
		display: none !important;
	}
	.readless {
		display:block !important;
	}
}

#navigation-arrows {
	position: relative;
	height: 100px;

	&.hidden {
		visibility: hidden;
	}

	.nav-arrow {
		cursor: pointer;
		background-image:url('../images/arrow.png');
		background-size:contain;
		width: 50px;
		height: 50px;
		position: absolute;
		bottom: 25px;

		&:hover {
			background-image:url('../images/arrow-hover.png');
		}

		&.prev-portfolio {
			transform: scaleX(-1);
			left: 10px;
		}

		&.next-portfolio {
			right: 10px;
		}
	}
}

.selected-page {
	font-weight:bold;
}
