#headerSplash {
  background-image: url('../images/header.jpg');
  background-size:cover;
  background-position: center center;
  position: relative;
}

#familybbqSplash {
	background-image: url('../images/headerbbq.jpg');
	background-size: cover;
	background-position: center center;
}

.header-text {
  position: relative;
  top: 250px;
}

img.header-label {
  width: 450px;
}

@media screen and (max-width: $break-xlarge) {
  .header-text {
    top: 200px;
  }
  img.header-label {
    width: 350px;
  }
}

@media screen and (max-width: $break-large) {
  .header-text {
    left: 25px;
    top: 90px;
  }
  img.header-label {
    width: 250px;
  }
}

.header-arrow {
  position: absolute;
  bottom: 20px;
  img {
    width: 50px;
  }
}

.pos-info {
	position: absolute;
	bottom: 50px;
	right: 50px;

	text-shadow: 1px 1px 20px white;
	color: #000;
	letter-spacing: 4px;

	text-align: right;
	h2 {
		margin-top: 0;
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 35px;
	}
	p {
		margin-top: 0;
		margin-bottom: 0;
	}
}
