@-webkit-keyframes jump {
 0%{
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
 }
 20%{
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
 }
 40%{
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
 }
 50%{
	-webkit-transform: translateY(-3px);
	transform: translateY(0);
 }
 60%{
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
 }
 80%{
	-webkit-transform: translateY(-7px);
	transform: translateY(-7px);
 }
 100%{
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
 }
}

@keyframes jump {
 0%{
	transform: translateY(-3px);
 }
 20%{
	transform: translateY(-5px);
 }
 40%{
	transform: translateY(-20px);
 }
 50%{
	transform: translateY(-3px);
 }
 60%{
	transform: translateY(-15px);
 }
 80%{
	transform: translateY(-7px);
 }
 100%{
	transform: translateY(-5px);
 }
}

.header-arrow-container {
	width: 100%;
	text-align: center;
	.header-arrow {
		&:hover {
			img {
				-webkit-animation: jump 1.5s ease 0s infinite normal ;
			  animation: jump 1.5s ease 0s infinite normal ;
			}
		}
	}
}

@media screen and (max-width: $break-large) {
  .header-arrow {
    bottom: 15px;
    img {
      width: 30px;
    }
  }
}

.home-section {
	margin-top: 150px;
  label {
    font-size: 50px;
    letter-spacing: 14px;

		@media screen and (max-width: $break-small-mobile) {
			font-size: 30px;
			letter-spacing: 7px;
		}
  }
}

.imageBox {
  position: relative;
  label {
    font-weight: bold;
    color: $title-box-color;
    position: absolute;
    right: 10px;
    top: 20px;

		@media screen and (max-width: $break-mobile) {
			left: 50px;
			right: auto;
			top: auto;
			bottom: 15px;
		}

		@media screen and (max-width: $break-small-mobile) {
			left: 20px;
			bottom: 5px;
		}
  }
}

.textBox {
  label {
    font-weight: 100;
    position: relative;
    left: 20px;
    top: 20px;

		@media screen and (max-width: $break-mobile) {
			top: 15px;
			left: 50px;
		}
		@media screen and (max-width: $break-small-mobile) {
			top: 5px;
			left: 40px;
		}
  }

  .content {
		margin-top: 50px;
		position: relative;

    p {
      letter-spacing: 1px;
      text-align: justify;

      margin-left: 50px;
      margin-right: 50px;

			@media screen and (max-width: $break-small-mobile) {
				margin-left: 20px;
				margin-right: 20px;
			}
    }
  }
}

.why-box {
  height: 400px;
  background-image: url('../images/bike_flipped.jpg');
  background-size: cover;
  width: 60%;

	@media screen and (max-width: $break-mobile) {
		width: 100%;
		height: 300px;
	}

	@media screen and (max-width: $break-small-mobile) {
		height: 150px;
		width: calc(100% - 40px);
		margin-left: 20px;
		margin-right: 20px;
	}
}

.why-text {
  width: 40%;
  position: relative;
}

@media screen and (max-width: $break-mobile) {

	.textBox {

		.content {
			margin-top: 0;
		}

		&.why-text {
			width: 100%;
		}
	}

}

.who-box {
  width: 30%;
  margin-left: 10%;
  height: 300px;
  background-image: url('../images/portrait_flipped.jpg');
  background-size: cover;
  background-position: top center;

	.mobile {
		right: -15px;
		top: 25px;
		bottom: auto;
		transform: translateX(100%);
		left: auto;
		font-weight: 100;
		color: $font-color;
		visibility: hidden;

		@media screen and (max-width: $break-small-mobile) {
			right: -10px;
		}
	}

	@media screen and (max-width: $break-mobile) {
		margin-left: 0px;
		width: 50%;
		margin-right: 50%;

		.who {
			top: 25px;
			right: 15px;
			bottom: auto;
			left: auto;
		}

		.mobile {
			visibility: visible;
		}
	}

	@media screen and (max-width: $break-small-mobile) {
		height: 230px;
		.who {
			right: 5px;
		}
	}
}

.who-text {
	width: 60%;
	position: relative;

	@media screen and (max-width: $break-mobile) {
		width: 100%;

		.desktop {
			display: none;
		}
	}
}


.what-banner {
	width: 100%;
	height: 400px;
	position:relative;

	label {
		font-weight: 100;
	}

	.ido {
		position:absolute;
		left: calc(20% + 220px);
		bottom: 25px;
	}

	img.ipad {
		position: absolute;
		height: 300px;
		left: -50px;
		bottom: 0;
	}

	@media screen and (max-width: $break-mobile) {
		img.ipad {
			height: 225px;
		}
	}

	@media screen and (max-width: $break-small-mobile) {
		img.ipad {
			height: 170px;
			left: -40px;
		}
	}

	.what-box {
		height: 330px;
		width: 80%;
		background-image: url('../images/what-banner.jpg');
		background-size: cover;
		position: relative;

		label {
			position: absolute;
			font-weight: bold;
			color:$title-box-color;
			left: 200px;
			bottom: 15px;
		}
	}
}

@media screen and (max-width: $break-mobile) {
	.what-banner {
		height: 300px;

		.ido {
			left: auto;
			right: 50px;
			bottom: 25px;
		}

		.what-box {
			height: 230px;
			label {
				left: auto;
				right: 50px;
				bottom: 15px;
			}
		}
	}
}
@media screen and (max-width: $break-small-mobile) {
	.what-banner {
		height: 250px;
		.ido {
			bottom: 15px;
			right: 5px;
		}
		.what-box {
			height: 200px;
			label {
				bottom: 5px;
				right: 5px;
			}
		}
	}
}

.what-content {
	.icon {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		height: 50px;
	}

	h2 {
		font-weight:normal;
		color: #e1d0c2;
		text-align: center;
		font-size: 30px;
		letter-spacing: 5px;
		margin-bottom: 0px;

		@media screen and (max-width: $break-small-mobile) {
			font-size: 20px;
		}
	}

	.seperator {
		position: relative;
		left: 50%;
		height: 1px;
		transform: translateX(-50%);
	}

	.item {
		line-height: 27px;
		height: 350px;

		text-align: justify;
		width: 40%;
		margin-right: 5%;
		margin-left: 5%;
		margin-top: 50px;

		&.overflowed400 {
			.content {
				height: 50px;
			}

			&.expanded {
				.content {
					height: auto;
				}
			}
		}

	}
}

@media screen and (max-width: $break-mobile) {
	.what-content {
		.item {
			width: calc(100% - 100px);
			margin-right: 50px;
			margin-left: 50px;
			height: auto;
		}
	}
}

@media screen and (max-width: $break-small-mobile) {
	.what-content {
		.item {
			width: calc(100% - 40px);
			margin-right: 20px;
			margin-left: 20px;
		}
	}
}

.thingsihavedone-banner {
	text-align: center;

	h2 {
		font-size: 50px;
	  letter-spacing: 14px;
		margin-bottom: 50px;
	}
}

@media screen and (max-width: $break-mobile) {
	.thingsihavedone-banner h2 {
		font-size: 30px;
	}
}

@media screen and (max-width: $break-small-mobile) {
	.thingsihavedone-banner h2 {
		font-size: 20px;
	}
}

.portfolio-items {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 0px 30px;
	position: relative;
	overflow: hidden;
}

.view-more-button {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	color: $primary-accent;
	letter-spacing: 3px;
	font-size: 15px;
	font-weight: bold;
	display: none;
}

.portfolio-item {
	width: 30%;
	height: 250px;
	margin: 25px 0px;
}

@media screen and (max-width: $break-mobile) {
	.portfolio-item {
		width: 40%;
	}
}

@media screen and (max-width: $break-small-medium) {
	.portfolio-item {
		width: 90%;
	}
}

.portfolio-item {
	overflow: hidden;
	text-align: center;
	box-shadow: 2px 2px 9px 0px rgba(50, 50, 50, 0.32);

	.dark-overlay {
		display: none;
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
		height: 100%;
		position: relative;

		.content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);

			label {
				font-size: 15px;
				letter-spacing: 3px;
				color: #fff;
				text-align: center;
				display: block;

				&.title {
					font-size: 20px;
					font-weight: bold;
					margin-bottom: 10px;
				}

				@media screen and (max-width: $break-small-medium) {
					font-size: 10px;
					&.title {
						font-size: 15px;
					}
				}
			}
		}
	}

	&:hover {
		.dark-overlay {
			display: block;
		}
	}
}
