$nav-height-large: 140px;
$nav-height-medium: 80px;

.nav {
  position:fixed;
  vertical-align: middle;
  width: calc(100% - 50px);
  height: $nav-height-large;
  line-height: $nav-height-large;
  z-index: 2;

  .logo {
    img {
      vertical-align: middle;
      height: ($nav-height-large / 2);
    }
  }

	@media screen and (max-width: $break-small-mobile) {
		z-index: 5;
		line-height: 120px;
		.logo img {
			height: 40px;
		}
	}
}

@keyframes nav-slide-out {
    from {right: -300px;}
    to {right: 0;}
}

@keyframes nav-slide-in {
    from {right: 0;}
    to {right: -300px;}
}

@keyframes nav-portfolio-slide-out {
    from {left: 0;}
    to {left: 200px;}
}

@keyframes nav-portfolio-slide-in {
    from {left: 200px;}
    to {left: 0;}
}


/* Nav Slider*/
.nav-slider {
	height: 100vh;
	position: fixed;
	right: -300px;
	width: 300px;
	z-index: 2;
	background-color: #fff;
	overflow: hidden;

	letter-spacing: 2px;

	-webkit-transition: 0.4s ease-out;
	-moz-transition: 0.4s ease-out;
	-o-transition: 0.4s ease-out;
	transition: 0.4s ease-out;

	&.open {
		right:0;

		@media screen and (max-width: $break-small-mobile) {
			right: 50%;
			-webkit-transform: translateX(50%);
			transform: translateX(50%);
		}
	}

	a {
		text-decoration: none;
	}

	ul {
		list-style-type: none;
		margin-top: 50px;

		@media screen and (max-width: $break-small-mobile) {
			margin-top: 130px;
		}

		&.primary-menu {
			position: absolute;
			left: 0;
			line-height: 25px;
			width: 260px;

			-webkit-transition: 0.35s ease-in-out;
			-moz-transition: 0.35s ease-in-out;
			-o-transition: 0.35s ease-in-out;
			transition: 0.35s ease-in-out;

			&.portfolio-opened {
				left: 200px;

				.icon:not(#image-portfolio) {
					opacity: 0.3;

					&:hover {
						opacity: 0.9;
					}
				}
			}

			li {
				color: $primary-solid;
				margin-bottom: 15px;

				span {
					display: none;
					color: $font-color;
				}

				&:hover {
					span {
						display: inline;
					}
				}

				.icon {
					display: inline-block;
					width: 50px;
					margin-right: 10px;

					img {
						height: 20px;
						position: relative;
					   left: 50%;
					   transform: translateX(-50%);
					}
				}
			}
		}

		&.portfolio-menu {
			padding-left: 20px;
			padding-right: 20px;
			text-align: center;
			font-size: 14px;
			width: 190px;
			left: -300px;
			margin-top:0;
			padding-top:20px;
			height: 100vh;
			position: absolute;
			top: 0;
			box-shadow: 5px 0px 20px #ccc;
			background-color: #fff;

			-webkit-transition: 0.5s ease-out;
			-moz-transition: 0.5s ease-out;
			-o-transition: 0.5s ease-out;
			transition: 0.5s ease-out;

			@media screen and (max-width: $break-small-mobile) {
				padding-top: 100px;
			}

			&.open {
				left: 0px;
			}

			li {
				margin-top: 25px;
				a {
					color: $font-color;
				}
				h2 {
					color: $primary-solid;
				}

				&:hover {
					font-weight: bold;
				}
			}
		}
	}
}

#nav-portfolio {
	cursor: pointer;
}

#hamburger {
	position: absolute;
	right: 0;
	top: 50px;
	z-index: 999999;

	width: 40px;
	height: 45px;

	-webkit-transition: 0.4s ease-out;
	-moz-transition: 0.4s ease-out;
	-o-transition: 0.4s ease-out;
	transition: 0.4s ease-out;
	cursor: pointer;

	&.open {
		right: 300px;

		@media screen and (max-width: $break-small-mobile) {
			right: 0px;
		}

	}

	span {
	  display: block;
	  position: absolute;
	  height: 5px;
	  width: 100%;
	  background: $primary-solid;
	  border-radius: 9px;
	  opacity: 1;
	  left: 0;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .25s ease-in-out;
	  -moz-transition: .25s ease-in-out;
	  -o-transition: .25s ease-in-out;
	  transition: .25s ease-in-out;
	}

	span:nth-child(1) {
	  top: 0px;
	  -webkit-transform-origin: left center;
	  -moz-transform-origin: left center;
	  -o-transform-origin: left center;
	  transform-origin: left center;
	}

	span:nth-child(2) {
	  top: 10px;
	  -webkit-transform-origin: left center;
	  -moz-transform-origin: left center;
	  -o-transform-origin: left center;
	  transform-origin: left center;
	}

	span:nth-child(3) {
	  top: 20px;
	  -webkit-transform-origin: left center;
	  -moz-transform-origin: left center;
	  -o-transform-origin: left center;
	  transform-origin: left center;
	}

	&.open span:nth-child(1) {
	  	-webkit-transform: rotate(45deg);
	  	-moz-transform: rotate(45deg);
	  	-o-transform: rotate(45deg);
	  	transform: rotate(45deg);
	  	top: -5px;
    	left: 5px;
	}

	&.open span:nth-child(2) {
	  width: 0%;
	  opacity: 0;
	}

	&.open span:nth-child(3) {
	  	-webkit-transform: rotate(-45deg);
	  	-moz-transform: rotate(-45deg);
	  	-o-transform: rotate(-45deg);
	  	transform: rotate(-45deg);
	  	top: 23px;
		left: 5px;
	}
}

.bottom-nav-items {

	-webkit-transition: 0.35s ease-in-out;
	-moz-transition: 0.35s ease-in-out;
	-o-transition: 0.35s ease-in-out;
	transition: 0.35s ease-in-out;

	&.portfolio-opened {
		padding-left: 300px;
	}
}

.social-media-icons {
	position: absolute;
	bottom: 62px;
	width: 100%;
	text-align: center;

	a {
		display: inline-block;
		width: 50px;
		.icon {
			width: 40px;
			height: 41px;
			background-size: contain;
			background-repeat: no-repeat;
			&#behance {
				background-image: url("../images/behance.png");
			}
			&#linkedin {
				background-image: url("../images/linkedin.png");
			}
			&#mail {
				background-image: url("../images/mail.png");
			}
		}

		&:hover {
			.icon {
				&#behance {
					background-image: url("../images/behance-hover.png");
				}
				&#linkedin {
					background-image: url("../images/linkedin-hover.png");
				}
				&#mail {
					background-image: url("../images/mail-hover.png");
				}
			}
		}
	}
}

.copyright {
	font-size: 11px;
	letter-spacing: 0px;
	font-weight: 100;
	color: $primary-accent;
	font-weight:bold;
	position: absolute;
	bottom: 25px;
	text-align: center;
	width: 100%;
}
