.introduction-box {
	margin-top: 100px;
}

.introduction-content {
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 100px);
	max-width: 800px;

	background-size: contain;
	background-position: right center;
	background-repeat: no-repeat;

	p {
		color: #000;
		letter-spacing: 3px;
		text-align: justify;
		margin-left: 50px;
		margin-right: 50px;
	}
}


.poster-intro {
	background-image: url('../images/poster-intro.png');
}

.book-intro {
	background-image: url('../images/book-intro.png');
}

.mobile-intro {
	background-image: url('../images/mobile-intro.png');
}

.web-intro {
	background-image: url('../images/web-intro.png');
}


#familybbq-simplifiedversion {

	.background {
		background-color: $primary-accent;
		width: 50%;
		padding-left: 50px;
		padding-right: 50px;
		left: -100px;
	}

	.ipad-image {
		background-size: 80% auto;
		background-position: center center;
		background-image: url('../images/bbq/bbq-ipad2.png');
	}
}

.overlapping-box {
	background: linear-gradient(
	 to right,
	 $primary-accent 0%,
	 $primary-accent 50%,
	 #fff 50%,
	 #fff 100%);
	background-position: left center;
	background-repeat: no-repeat;
	position: relative;
}

#familybbq-complexversion {
	background-size: contain;
	background-position: right center;
	background-repeat: no-repeat;
	position: relative;

	margin-top:100px;

	.text-box{
		width: calc(60% - 150px);
		padding-right: 50px;
		padding-left: 50px;
		margin-left: 50px;
		margin-top: 0;
		margin-bottom:0;
	}

	.imagebox {
		position: absolute;
		right:0;
		top: 50%;
		transform: translateY(-50%);
		width: 40%;
		img {
			width: 100%;
		}
	}
}

#partnerpackage-problem {
	.folders {
		background-image: url('../images/partnerpackage/folders.png');
	}
}

#jamaquiz-goal {
	.logo {
		background-image: url('../images/jamaquiz/c2w-logo.png');
		background-size: 30% auto;
		left: 10%;
	}
}

#jamaquiz-solution {
	.imagebox {
		img {
			float:inherit;
		}
	}
}

#knowledgehook-problem {
	.screenshot {
		width: 50%;
		background-size: contain;
		background-color: $primary-accent;
		background-position: center center;
		padding-left: 50px;
		left: -50px;
		background-image: url('../images/knowledgehook/problem.png');
	}
}

#knowledgehook-solution {
	.imagebox {
		img {
			float: inherit;
		}
	}
}

.overlapping-solution{
	position: relative;

	.text-box {
		width: calc(60% - 265px) !important;
		margin-left: 100px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.imagebox {
		z-index: -1;
		background-color: $primary-accent;

		padding-top: auto;
		padding-bottom: auto;

		position: absolute;
		right:0;
		top: 50%;
		transform: translateY(-50%);
		width: 40%;
		img {
			width: 100%;
		}
	}
}

.portfolio-text {
	margin-bottom: 200px;

	span {
		background-size: 50% auto;
		background-position:left center;
		background-repeat: no-repeat;
		z-index:1;
		width: 100%;
		height: 100%;
		position: absolute;
		left:0px;
		top:0;
	}

	.text-box {
		text-align: justify;
		z-index: 2;
		margin-top: 50px;
		margin-bottom: 50px;
		width: calc(50% - 170px);
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 100px;
		padding-right: 100px;

		&.with-bg {
			background-color: rgba(0, 0, 0, 0.03);
		}

		h2 {
			font-weight: bold;
			font-size: 25px;
			letter-spacing: 5px;
			color: $primary-accent;
		}
	}
}

.basic-section {
	padding-top: 100px;

	h2 {
		text-align: center;
		letter-spacing: 8px;
		color: $primary-accent;
		padding-bottom: 40px;
	}

	.picture {
		width: 100%;
	}

	.one-half.image {
		background-color: $primary-accent;
		padding-top:100px;
		padding-bottom: 100px;

		img {
			position: relative;
			left: 50%;
			top: 50%;
			width: 200px;
			transform:translate(-50%);
		}
	}

	.one-half.text {
		width: calc(50% - 100px);
		margin-left: 50px;
		margin-right: 50px;
		text-align: justify;
	}
}

#jamaquiz-usability {
	margin-bottom: 0px;
	.imagebox {
		background:none;
	}
}
