.introduction-box {
	margin-top: 100px;
}

.introduction-content {
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 100px);
	max-width: 800px;

	background-size: contain;
	background-position: right center;
	background-repeat: no-repeat;

	p {
		font-weight: bold;
		color: $font-color;
		letter-spacing: 4px;
		line-height: 30px;
		text-align: justify;
		margin-left: 50px;
		margin-right: 50px;
	}
}

.poster-intro {
	background-image: url('../images/poster-intro.png');
}

.book-intro {
	background-image: url('../images/book-intro.png');
}

.mobile-intro {
	background-image: url('../images/mobile-intro.png');
}

.web-intro {
	background-image: url('../images/web-intro.png');
}

.button {
	margin-top: 20px;
	text-decoration: none;
	padding: 0px 20px;
	padding-top: 6px;
	padding-bottom: 4px;
	color: $primary-accent;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 2px;
	border: 2px solid $primary-accent;
	display: inline-block;
	cursor:pointer;

	&:hover {
		background-color: $primary-accent;
		color: #fff;
	}
}


#familybbq-simplifiedversion {

	.background {
		background: linear-gradient(to right, #e8dcd1 0%, #e8dcd1 50%, rgba(#ffffff, 0) 50%, rgba(#ffffff, 0) 100%);
		width: 50%;
		padding-left: 50px;
		padding-right: 50px;
		left: -100px;
	}

	.ipad-image {
		background-size: 80% auto;
		background-position: center center;
		background-image: url('../images/bbq/bbq-ipad2.png');
	}

	span {
		width: 100%;
	}

	#infoarch {
		h2 {
			padding-right: 0;
			width: calc(100% + 50px);
		}
	}
}

#familybbq-complexversion {
	background-size: contain;
	background-position: right center;
	background-repeat: no-repeat;
	position: relative;

	margin-top:100px;

	.text-box{
		width: calc(60% - 150px);
		padding-right: 50px;
		padding-left: 50px;
		margin-left: 50px;
		margin-top: 0;
		margin-bottom:0;
	}

	.imagebox {
		position: absolute;
		right:0;
		top: 50%;
		transform: translateY(-50%);
		width: 40%;
		img {
			width: 100%;
		}
	}
}

#partnerpackage-problem {
	.folders {
		background-image: url('../images/partnerpackage/folders.png');
	}
}

#jamaquiz-goal {
	.logo {
		background-image: url('../images/jamaquiz/c2w-logo.png');
		background-size: 60% auto;
		left: 10%;
	}
}

#jamaquiz-solution {
	.imagebox {
		img {
			float:inherit;
		}
	}
}

#knowledgehook-problem {
	.screenshot {
		width: 50%;
		background-size: contain;
		background-color: $portfolio-beige-box;
		background-position: center center;
		padding-left: 50px;
		left: -50px;
		background-image: url('../images/knowledgehook/problem.png');
	}
}

#knowledgehook-solution {
	.imagebox {
		img {
			float: inherit;
		}
	}
}

.overlapping-solution{
	position: relative;

	.text-box {
		width: calc(60% - 265px) !important;
		margin-left: 100px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.imagebox {
		z-index: -1;
		background-color: $portfolio-beige-box;

		padding-top: auto;
		padding-bottom: auto;

		position: absolute;
		right:0;
		top: 50%;
		transform: translateY(-50%);
		width: 40%;
		img {
			width: 100%;
		}
	}
}

.overlapping-box {
	background: linear-gradient(
	 to right,
	 $portfolio-beige-box 0%,
	 $portfolio-beige-box 50%,
	 #fff 50%,
	 #fff 100%);
	background-position: left center;
	background-repeat: no-repeat;
	position: relative;
}

.portfolio-text {
	margin-bottom: 200px;

	span {
		background-size: 100% auto;
		background-position:left center;
		background-repeat: no-repeat;
		z-index:1;
		width: 50%;
		height: 100%;
		position: absolute;
		left:0px;
		top:0;
	}

	.text-box {
		text-align: justify;
		z-index: 2;
		margin-top: 50px;
		margin-bottom: 50px;
		width: calc(50% - 170px);
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 100px;
		padding-right: 100px;

		&.with-bg {
			background-color: $portfolio-grey-box;
		}

		h2 {
			font-weight: bold;
			font-size: 25px;
			letter-spacing: 5px;
			color: $primary-accent;
		}
	}
}

@media screen and (max-width: $break-mobile) {

	.overlapping-box {
		background: none;
	}

	.portfolio-text {
		margin-bottom: 0 !important;
		margin-top:50px !important;

		span {
			padding-left: 0 !important;
			padding-right: 0 !important;
			width: 100% !important;
			height: 300px;
			display:block;
			position:initial;
			background-color: $portfolio-beige-box;
			span {
				background-size: contain !important;
			}
		}

		.text-box {
			width: auto !important;
			margin:0 !important;
		}

		.imagebox {
			position: initial !important;
			transform: none !important;
			width: 100% !important;
			height: 500px;
			text-align: center;
			background-color: $portfolio-grey-box;
			padding-top: 50px;
			img {
				height: 100% !important;
				width: auto !important;
				float:none !important;
			}
		}

		&#partnerpackageSolution {
			.imagebox {
				background: none;
			}
		}

		&#jamaquiz-goal {
			.logo {
				background-position: center center;
			}
		}

		&#jamaquiz-usability {
			.imagebox {
				background-color: $portfolio-grey-box;
			}
		}

		&#jamaquiz-solution {
			.imagebox {
				background: $portfolio-beige-box;
			}
		}

		&#knowledgehook-solution {
			.imagebox {
				background: $portfolio-beige-box;
			}
		}

	}

}


.basic-section {
	padding-top: 100px;

	h2 {
		text-align: center;
		letter-spacing: 8px;
		color: $primary-accent;
		padding-bottom: 40px;
	}

	.picture {
		width: 100%;
	}

	.one-half.image {
		background-color: $portfolio-beige-box;
		padding-top:100px;
		padding-bottom: 100px;

		img {
			position: relative;
			left: 50%;
			top: 50%;
			width: 200px;
			transform:translate(-50%);
		}
	}

	.one-half.text {
		width: calc(50% - 100px);
		margin-left: 50px;
		margin-right: 50px;
		text-align: justify;
	}
}

#jamaquiz-usability {
	margin-bottom: 0px;
	.imagebox {
		background:none;
	}
}
