extends ./layout.jade

block title
	title Ruby Cheung - All Partners Meeting

block content
	section.full-width.full-height#allpartnersmeetingSplash
		div.pos-info
			h2 All Partners Meeting
			p Social Venture Partners
			p Social Media Coordinator
			p August 2015
			
	section.content-width.introduction-box#allpartnersmeeting-introduction
		div.introduction-content.poster-intro
			p.
				I designed a poster to showcase the details of the event in an 
				structured and engaging approach. Because the event was opened to only 
				SVP's partners, this poster was sent through email.
	
	section.content-width.portfolio-text.overlapping-box#allpartnersmeeting-infoarch(style="margin-bottom:100px;")
		span.meeting-screenshot
		
		div.text-box.with-bg.float-right
			h2 INFORMATION ARCHITECTURE
			p.
				I created the poster through a specific architecture that would allow 
				our partners to make a decision by the logic of how people would check 
				their availability; date, time, and then location. It is sorted by the 
				most significant to least significant. 
				
		div(style="clear: both;line-height:0;") &nbsp;
