extends ./layout.jade

block title
	title Ruby Cheung - Family BBQ
	
block content
	section.full-width.full-height#familybbqSplash
		div.pos-info
			h2 FAMILY BBQ
			p social venture partners
			p social media coordinator
			p August 2015
			
	section.content-width#familybbqIntroduction
		div.introduction-content
			p.
				I designed a poster to showcase the details of SVP's family bbq event in a structured and engaging
				way. The event was exclusive to SVP partners, and two versions of the design were created. 
	
	section.content-width.portfolio-text.overlapping-box#familybbq-simplifiedversion
		span.ipad-image
		
		div.text-box.with-bg.top.float-right
			h2 SIMPLIFIED VERSION
			p.
				The simplified version consists of a generic poster that included the event name and date, 
				this was posted onto SVP’s social media accounts and website as a teaser to their partners. 
				The goal of this teaser was so no fy SVP partners and allow them 
				to save the date while the other details of the event are being finalized.
		
		div.text-box.bottom.float-right
			h2 INFORMATION ARCHITECTURE
			p.
				When laying out the information architecture, the goal was to be as brief and clear as possible. 
				To do this, I focused on presenting just the title and date.
				
		div(style="clear: both;line-height:0;") &nbsp;
		
	section.content-width.portfolio-text#familybbq-complexversion
		div.text-box.with-bg.float-left 
			h2 DETAILED VERSION
			p.
				The detailed version consists of the same poster with greater detail. 
				To ensure only partners will be coming, we sent the invitation through email.
				
		div.text-box.float-left
			h2 INFORMATION ARCHITECTURE
			p.
				I created the poster through a specific architecture that would allow our partners to make a 
				decision by the logic of how people would check their availability; date, time, and then location. 
				It is sorted by the most significant to least significant.
				
		div.imagebox.float-right
			img(src="images/bbq/bbq-detailed.png")
				
		div(style="clear: both;line-height:0;") &nbsp;
		
