extends ./layout.jade

block title
	title Ruby Cheung - Flipp Finds

block content
	section.portfolio-hero.full-width.full-height#flippfindsSplash
		div.main-content.summary
			div.summary-container
				h1 FLIPP FINDS 
				div
					h4.skinny-text July 2016 - Present
					h4 
						| Role: 
						span.skinny-text Web & Graphics Design
					h4 
						| Company: 
						span.skinny-text Flipp
	
	section.main-content.body
		div.body-container
			p.
				Flipp Finds is a blog and hub for teaching readers on ways to save money using Flipp. The blog has seasonal articles for special holidays, as well as everyday tips for general saving. My role in this project was to do the design and development. I worked closely with the marketing team to plan out the goals of the blog. The blog can be viewed at <a href="http://finds.flipp.com">finds.flipp.com</a>.
				
				
		div.split-section
			div.body-container 
				h2 NEED
				p. 
					Flipp Finds is a way to showcase Flipp as a brand. By showcasing the lifestyle of users who use the platform, this blog is a way to reach out and market the platform further.
					
					
				br
				//- h2 INFORMATION ARCHITECTURE
				//- p.
				//- 	lorum ipsum
			div.image-container
				img(src="images/flippfinds/notebook-1.png")
		
		div.body-container
			h2 FIRST ITERATION
			h4 REQUIREMENTS
			ul
				li 
					h5 ARTICLES:
					p.
						The articles on Flipp Finds feature content that are produced in partnership with other bloggers. The content is unique in describing how the Flipp platform has been used, and how it can be used.				
				li
					h5 SEARCH:
					p.						
						Initially planned to be included in the first iteration, this feature was decided to be put on hold until later iterations of the blog. Search allows users to search for specific articles or authors, but the blog has not reached a point in scale which this is necessary yet.
				li
					h5 TWITTER FEED:
					p.
						Allows to users to view recent deals or coupons posted through Twitter.
				li
					h5 SUBSCRIBE:
					p.
						Allows users to subscribe to our weekly emails that deliver new articles and news items directly to readers.
	
			h4 CHALLENGES				
			p.				
				One challenge is the placement of different widgets. The widgets could have been placed in rows under the articles, or on the right-side sidebar beside the articles. Having the widgets under the articles would mean more screen real-estate for viewing content, but the widgets could be easily missed. On mobile, since screen real-estate is much more scarce, we decided to go this route. Placing widgets in the sidebar makes them much more prominent and accessible, but takes up a lot of screen space. This made it a great choice on desktops where screen estate is not as much of a constraint.
			img(src="images/flippfinds/notebook-2.png")
			
	section.footer
		div.footer-label-container#flippfinds
			h1.footer-label CURRENT LOOK
			a(href="http://finds.flipp.com").view-website VIEW WEBSITE
		div.main-content.footer-content
			img(src="images/flippfinds/current-2.jpg")
			img(src="images/flippfinds/current-1.jpg")
			
