extends ./layout.jade

block title
	title Ruby Cheung - Flipp Finds

block content
	section.portfolio-hero.full-width.full-height#flippfindsSplash
		div.main-content.summary
			div.summary-container
				h1 FLIPP FINDS 
				div
					h4.skinny-text July 2016 - Present
					h4 
						| Role: 
						span.skinny-text Web & Graphics Design
					h4 
						| Company: 
						span.skinny-text Flipp
	
	section.main-content.body
		div.body-container
			p.
				Flipp Finds is a blog and hub for teaching readers on ways to save money using Flipp. The blog has seasonal articles for special holidays, as well as everyday tips for general saving. My role in this project was to do the design and development. I worked closely with the marketing team to plan out the goals of the blog. The blog can be viewed at <a href="http://finds.flipp.com">finds.flipp.com</a>.
				
				
		div.split-section
			div.body-container 
				h2 NEED
				p. 
					Flipp Finds is a way to showcase Flipp as a brand. By showcasing the lifestyle of users who use the platform, this blog is a way to reach out and market the platform further.
					
					
				br
				//- h2 INFORMATION ARCHITECTURE
				//- p.
				//- 	lorum ipsum
			div.image-container
				img(src="images/flippfinds/notebook-1.png")
		
		div.body-container
			h2 FIRST ITERATION
			h4 REQUIREMENTS
			ul
				li 
					h5 ARTICLES:
					p.
						The articles on Flipp Finds feature content that are produced in partnership with other bloggers. The content is unique in describing how the Flipp platform has been used, and how it can be used.				
				li
					h5 SEARCH:
					p.						
						Initially planned to be included in the first iteration, this feature was decided to be put on hold until later iterations of the blog. Search allows users to search for specific articles or authors, but the blog has not reached a point in scale which this is necessary yet.
				li
					h5 TWITTER FEED:
					p.
						Allows to users to view recent deals or coupons posted through Twitter.
				li
					h5 SUBSCRIBE:
					p.
						Allows users to subscribe to our weekly emails that deliver new articles and news items directly to readers.
	
			h4 CHALLENGES				
			p.				
				One challenge is the placement of different widgets. The widgets could have been placed in rows under the articles, or on the right-side sidebar beside the articles. Having the widgets under the articles would mean more screen real-estate for viewing content, but the widgets could be easily missed. On mobile, since screen real-estate is much more scarce, we decided to go this route. Placing widgets in the sidebar makes them much more prominent and accessible, but takes up a lot of screen space. This made it a great choice on desktops where screen estate is not as much of a constraint.
			
			br
			h2 SECOND ITERATION
			H4 REQUIREMENTS
			ul
				li
					h5 FLIPP WEB AND MOBILE APP CONVERSION LINKS
					p.
						For the second iteration, the focus was on adding conversion links to the Flipp mobile app and to the Flipp web app. Since one of the goals of the blog is to convert users to use our products, this is an important priority and needed to be done right. 
			
			h4 CHALLENGES 
			ul
				li
					h5 DESKTOP:
					p. 
						One challenge was how to effectively link the conversion on the desktop site. There was discussion about having a direct play store/app store link verses a link to the app page (app.flipp.com). Having a direct link may turn into a higher conversion rate, but there is a case where the user stumbles upon the blog without prior knowledge about what the Flipp app is. In this scenario,  linking to the app page would be more effective because the user can have context into what they are downloading. 
					p. 
						The compromise here is to have a widget that gives a summary of the Flipp app, and direct conversion links to the app store and play store. This allows users to understand what they are choosing to download without having to access a whole different page, as well as have direct download links to the app for higher conversion. This widget is constantly visible and easily accessible on any page.
				li
					h5 MOBILE:
					p. 						
						On mobile, we had the same goals as we did for desktop. However the way we decided to do the widgets on mobile, was to have them stacked on top of each other after the articles to maximize screen space. However for this particular conversion, it would not be effective if hidden away like the rest of the widgets.		
					p. 
						So, on mobile, there is instead a small download button that stays with the navigation. Upon pressing the navigation, it will show the same widget that is displayed on desktop. This way we can continue to maximize conversions, while maximizing screen estate.
						
			img(src="images/flippfinds/notebook-2.png")
					
			
					
			
	section.footer
		div.footer-label-container#flippfinds
			h1.footer-label CURRENT LOOK
			a(href="http://finds.flipp.com").view-website VIEW WEBSITE
		div.main-content.footer-content
			img(src="images/flippfinds/current-2.jpg")
			img(src="images/flippfinds/current-1.jpg")
			
