extends ./layout.jade

block title
	title Ruby Cheung - Impact Report

block content
	section.full-width.full-height#impactreportSplash
		div.pos-info
			h2 Impact Report
			p Social Venture Partners
			p Social Media Coordinator
			p August 2015
			
	section.content-width.introduction-box#impactreport-introduction
		div.introduction-content.book-intro
			p.
				A printed document that informs readers about SVP’s accomplishments for 2015. 
	
	section.content-width.portfolio-text.overlapping-box#impactreport-problem(style="margin-bottom:100px;")
		span.old-report
		
		div.text-box.with-bg.float-right
			h2 PROBLEM
			p.
				SVP's past Impact Report had the same design and layout for many years. The manager of operations voiced her 
				concern about needing a new design that would attract more interest and have better readability. The impact 
				report is a document that highlights SVP’s contributions to the community that year, and is used as a 
				promotional tool for attracting future investors. 
				
		div(style="clear: both;line-height:0;") &nbsp;
