extends ./layout.jade

block title
	title Ruby Cheung

block content 

	section.full-width.full-height#headerSplash
		div.header-text.content-width
			img.header-label(src="images/uxdesigner.png")
			
		div.header-arrow-container
			a.header-arrow.sliding-link(href="#whyabike")
				img(src="images/header-arrow.png")

	// --------------------------------------------------------------------
	// - WHY A BIKE?
	// --------------------------------------------------------------------

	section.home-section.content-width#whyabike

		div.why-box.imageBox.float-left
			label WHY

		div.why-text.textBox.float-right.overflowable400
			label A BIKE?
			
			div.toggle-more
				img(src="images/ellipses-read-more.png")
				br
				span.readmore READ MORE
				span.readless READ LESS
			
			div.content
				p.
					A bike represents user experience at its best. For any product/service to have meaning, it needs to fulfill a 
					specific “need” from the user. For a bike, that need is traveling. Before adding any features (complexity) to 
					products and services, it’s important to identify the core reason as to why the user needs it and what problem is 
					being solved. When core reasons are not identified properly, it can lead to unnecessary complications and confusion 
					for the user. 
				p.
					If we dive deeper into the design of the bike, we can see that everything is there to serve an important and 
					unique purpose. If we were to take away any component on the bike, it would not be able to fulfill the user’s 
					need to travel. Removing the handlebars removes the user’s ability to make the bicycle’s ability to steer. 
					Removing a pedal would mean that the user will be unable to pedal the bike. Removing just a single link from 
					its chain will completely ruin the bike’s ability to move.
      	
		div(style="clear: both;line-height:0;") &nbsp;

	// --------------------------------------------------------------------
	// - WHO AM I?
	// --------------------------------------------------------------------

	section.home-section.content-width#whoami

		div.who-box.imageBox.float-left
			label.who WHO
			label.mobile AM I?	
      
		div.who-text.textBox.float-right.overflowable300
			label.desktop AM I?
				
			div.toggle-more
				img(src="images/ellipses-read-more.png")
				br
				span.readmore READ MORE
				span.readless READ LESS
			
			div.content
				p.
					Hi. My name is Ruby Cheung. I am currently a student at the University of Waterloo, studying Global Business & Digital Arts.
				p.
					Through my program, I fell in love with user experience through seeking core reasons of why people use certain products/services. 
					I enjoy exploring all the ways that different users interact with the same product, and it is exhilarating to try to think of ways 
					of optimizing that experience.
					
		div(style="clear: both;line-height:0;") &nbsp;
	
	// --------------------------------------------------------------------
	// - WHAT I DO
	// --------------------------------------------------------------------      
	section.home-section.content-width#whatido
	
		div.what-banner
			div.what-box.float-right
				label.
					WHAT
			label.ido.
				I DO
			img.ipad(src="images/ipad-tech.png")
				
		div.what-content
			div.item.float-left
				img.icon(src="images/interaction-design-icon.png")
				h2 INTERACTION DESIGN
				img.seperator(src="images/55px-seperator.jpg")
				p.content.
					Interaction Design is an approach to design that focuses on how people interact with the product. 
					As a user experience designer, I focus on creating products that allows users to interface with it 
					effortlessly, creating a positive and enjoyable experience. I use interaction design to help me 
					understand what can be done, what is happening, and what has just occurred.
			div.item.float-right
				img.icon(src="images/mm-design-icon.png")
				h2 MULTI-MEDIUM DESIGN
				img.seperator(src="images/55px-seperator.jpg")
				p.content.
					As a user experience designer, I believe in being able to design for multiple platforms and mediums, 
					whether print or digital. I prioritize key user experience principles and methods that are 
					transferrable to any medium by focusing on understanding the way users interact with the product.
					
			div.item.float-left
				img.icon(src="images/prototyping-icon.png")
				h2 PROTOTYPING
				img.seperator(src="images/55px-seperator.jpg")
				p.content.
					Prototyping allows me to gather feedback on quick iterations of ideas before major development is done. 
					Low-fidelity prototypes 
					allow me to identify the structure and placement of elements, without focusing on 
					particulars. Then, using higher-fidelity prototypes, I can focus on smaller details such 
					as color and specific images. 	
					
			div.item.float-right
				img.icon(src="images/storytelling-icon.png")
				h2 STORYTELLING
				img.seperator(src="images/55px-seperator.jpg")
				p.content.
					People love stories. Stories have always been a part of human culture, from cave-wall paintings 
					to multi-million dollar movies playing in theaters today. 
					In design, I believe in using storytelling to create compelling experiences that build emotional 
					connections with the user.
					
			div(style="clear: both;line-height:0;") &nbsp;

			
	// --------------------------------------------------------------------
	// - WHAT I HAVE DONE
	// --------------------------------------------------------------------      

	section.home-section.content-width#whatihavedone
		div.inner-content-box
			span.view-more-button VIEW MORE..
			
			div.whativedone-banner
				h2 
					| WHAT 
					span.skinny-text I HAVE DONE
			div.portfolio-items
				
				a(href="flippfinds.html").portfolio-item#flippfindsSplash
					div.dark-overlay
						div.content
							label.title FLIPP FINDS
							label.description WEB DESIGN
				
				a(href="knowledgehook.html").portfolio-item#knowledgehookSplash
					div.dark-overlay
						div.content
							label.title KNOWLEDGEHOOK
							label.description WEB DESIGN
				
				a(href="familybbq.html").portfolio-item#familybbqSplash
					div.dark-overlay
						div.content
							label.title FAMILY BBQ
							label.description PRINT DESIGN
				
				a(href="partnerpackage.html").portfolio-item#partnerpackageSplash
					div.dark-overlay
						div.content
							label.title PARTNER PACKAGE
							label.description PRINT DESIGN
					
				a(href="jamaquiz.html").portfolio-item#jamaquizSplash
					div.dark-overlay
						div.content
							label.title JAMAQUIZ
							label.description MOBILE DESIGN
				
				a(href="impactreport.html").portfolio-item#impactreportSplash
					div.dark-overlay
						div.content
							label.title IMPACT REPORT
							label.description PRINT DESIGN
							
				a(href="jacktli.html").portfolio-item#jacktliSplash
					div.dark-overlay
						div.content
							label.title JACKTLI
							label.description WEB DESIGN
			
				a(href="allpartnersmeeting.html").portfolio-item#allpartnersmeetingSplash
					div.dark-overlay
						div.content
							label.title ALL PARTNERS MEETING
							label.description PRINT DESIGN
							
