extends ./layout.jade

block title
	title Ruby Cheung - JackTLi
	
block content
	section.full-width.full-height#jacktliSplash
		div.pos-info
			h2 Jack Li
			p www.JackTLi.com
			p UX Designer
			p October 2015
			
	section.content-width.introduction-box#impactreport-introduction
		div.introduction-content.web-intro
			p.
				Designed a website that outlined the client’s versatile skills and projects. 
				
	section.content-width.portfolio-text.overlapping-box#jacktli-problem(style="margin-bottom:0px;")
			span.jacktli-site
			
			div.text-box.with-bg.float-right
				h2 INFORMATION ARCHITECTURE
				p.
					This order is similar to the layout of his resume. I listed the information in order of importance; profile information, experience, projects, and interests. 
					
			div.text-box.float-right
				h2 LOGO
				p.
					I created a logo that was based on his profile photo. The logo was based on his defined physical attributes such as hair and glasses.
							

					
			div(style="clear: both;line-height:0;") &nbsp;
