extends ./layout.jade

block title
	title Ruby Cheung - Jamaquiz
	
block content
	section.full-width.full-height#jamaquizSplash
		div.pos-info
			h2 Jamaquiz
			p C2W Music
			p UX Designer & Game Architect
			p April 2015
			
	section.content-width.introduction-box#jamaquizIntroduction
		div.introduction-content.mobile-intro
			p.
				JamaQuiz is an interactive game that educates players about Jamaican music and was created for C2W Music.
				
	// --------------------------------------------------------------------
	// - GOAL
	// -------------------------------------------------------------------- 

	section.content-width.portfolio-text.overlapping-box#jamaquiz-goal
		span.logo
		
		div.text-box.with-bg.float-right
			h2 GOAL
			p.
				C2W Music wanted us to create an interactive approach for users to get a better understanding of both 
				traditional and modern music in Jamaica using artists from their company. 
				
		div(style="clear: both;line-height:0;") &nbsp;
	
	// --------------------------------------------------------------------
	// - SOLUTION
	// -------------------------------------------------------------------- 	
	section.content-width.portfolio-text.overlapping-solution#jamaquiz-solution
		div.text-box.with-bg.float-left.top
			h2 SOLUTION
			p.
				The user will learn about different types of music, genres and popular sections of each song in each 
				different genre as they accomplish/complete the levels. As the player progresses through the 9 levels, 
				there will be quiz games with many different concepts that demonstrate Jamaican music culture. 
				Through all nine levels we intend to have the types of questions get progressively harder.
				
		div.text-box.float-left.middle
			h2 RESEARCH
			p.
				This acts as a navigation for the document and gives a high level view of the document at a glance.
				
		div.text-box.float-left.middle
			h2 TWO PLAYER MODES
			p.
				Single player: A song will be played and players will be asked to fill in the missing lyrics. When the 
				player gets it right, he/she will advance to the next stage
			p.
				Multi player: players will use 1 phone and will be given aquestions. Whoever answers most of the question 
				correctly and fastly wins.

		div.imagebox.float-right
			img(src="images/jamaquiz/ipod.png")
				
		div(style="clear: both;line-height:0;") &nbsp;
		
	// --------------------------------------------------------------------
	// - ARCH, WIREFRAME, HIFI PROTOTYPE
	// -------------------------------------------------------------------- 
	
	section.content-width.basic-section#jamaquiz-gamearch
		h2 GAME ARCHITECTURE
		img.picture(src="images/jamaquiz/game-architecture.jpg")
		
	section.content-width.basic-section#jamaquiz-wireframes
		h2 WIREFRAMES 
		img.picture(src="images/jamaquiz/wireframe.jpg")
		
	section.content-width.basic-section#jamaquiz-hifi
		h2 WIREFRAMES 
		img.picture(src="images/jamaquiz/hifiproto.jpg")
		
	// --------------------------------------------------------------------
	// - USABILITY
	// --------------------------------------------------------------------    
	
	section.content-width.portfolio-text.overlapping-solution#jamaquiz-usability
		div.text-box.with-bg.float-left.top
			h2 USABILITY
			p.
				The playtest was an event used to showcase our working prototypes for usability and game mechanic feedback.
				 The feedback would be produced by players that are not Global Business and Digital Arts students. 
				 This allowed the feedback to be diverse and unbiased. Some of the testers were from the Game Institute; 
				therefore we got constructive feedback from actual developers and testers.
				
		div.text-box.float-left.middle
			h2 TOOLS USED
			p.
				Since our game is a music based quiz game and the event had a lot of people we provided headphones to improve the users experience. 
				To record the feedback and data, we decided to use QuickTime player, a phone, and a laptop. QuickTime player was used to screen record; 
				this allows us to document how the users would navigate through the game. We used the laptop to write down the answers to the 
				questions that we tested the players on. During the course of the event we tested around seven testers. These testers consist of 
				two or one persons playing together or individually. 
				This allowed us to test our game and determine whether our game was more successfully played collaboratively or individually.
				
		div.text-box.float-left.middle
			h2 FEEDBACK
			p.
				We had 7 play testers with some being pairs with the majority having no trouble navigating through the interface and our menus. 
				The suggestions what were noted were: making the song clip shorter, showing the correct answer if answered incorrectly, 
				and including the instruction on the menu. Other suggestions were to include better button feedback, more animations, and educational facts. 
			p.
				There were
				varying responses between some aspects of our game that will need to be analyzed for the final game. Some users said 5 questions 
				with a 20 second time limit are fine, while others wanted more questions and a shorter time limit. Also, some people liked having the 
				song play before the questions, while others wanted it to play during the questions.
		
		div.imagebox.float-right
			img(src="images/jamaquiz/usability.png")
				
		div(style="clear: both;line-height:0;") &nbsp;
		
	// --------------------------------------------------------------------
	// - FINAL
	// --------------------------------------------------------------------  
	
	section.content-width.basic-section#jamaquiz-usability
		div.one-half.image.float-left
			img(src="images/jamaquiz/jamaquiz-final.png")
		div.one-half.text.float-right
			h2 FINAL PROTOTYPE
			p.
				We had 7 play testers with some being pairs with the majority having no trouble navigating through the interface and our menus. 
				The suggestions what were noted were: making the song clip shorter, showing the correct answer if answered incorrectly, and 
				including the instruction on the menu. 
				Other suggestions were to include better button feedback, more animations, and educational facts. 
			p.
				There were
				varying responses between some aspects of our game that will need to be analyzed for the final game. 
				Some users said 5 questions with a 20 second time limit are fine, while others wanted more questions and a shorter time limit. 
				Also, some people liked having the song play before the questions, while others wanted it to play during the questions.
				
		div(style="clear: both;line-height:0;") &nbsp;
		
