extends ./layout.jade

block title
	title Ruby Cheung - KnowledgeHook
	
block content
	section.full-width.full-height#knowledgehookSplash
		div.pos-info
			h2 Website Redesign
			p KnowledgeHook
			p UX Designer
			p August 2015
			
	section.content-width#knowledgehookIntroduction
		div.introduction-content.web-intro
			p.
				KnowledgeHook is a company directed to help children learn math in an interactive game setting. Towards the end of the summer of 2015, they approached me to be the designer for their website redesign.
	
	
	// --------------------------------------------------------------------
	// - PROBLEM
	// -------------------------------------------------------------------- 

	section.content-width.portfolio-text.overlapping-box#knowledgehook-problem
		span.screenshot
		
		div.text-box.with-bg.float-right
			h2 PROBLEM
			p.
				For their current website they were concerned that it did not appeal to the right audience (parents, teachers, and schools). So, they wanted a new website that was simple and that appealed to that audience.
				
			button Current Website
				
		div(style="clear: both;line-height:0;") &nbsp;
		
	// --------------------------------------------------------------------
	// - SOLUTION
	// -------------------------------------------------------------------- 
		
	section.content-width.portfolio-text.overlapping-solution#knowledgehook-solution
		div.text-box.with-bg.float-left.top
			h2 SOLUTION
			p.
				I discussed the requirements in detail with the CEO and COO. Then, I created a design that showcased their products by adding relevant images to each written section for users to understand the different features and different ways to use the product. This allows users to be able to learn and recognize the specific product features before using the product.
				
		div.text-box.float-left.bottom
			h2 RELEASE DATE
			p.
				The release date will be in Fall 2016.
				
		div.imagebox.float-right
			img(src="images/knowledgehook/solution.png")
				
		div(style="clear: both;line-height:0;") &nbsp;
