extends ./layout.jade

block title
	title Ruby Cheung - Partner Package
	
block content
	section.full-width.full-height#partnerpackageSplash
		div.pos-info
			h2 Partner Package
			p Social Venture Partners
			p Social Media Coordinator
			p July 2015
	
	section.content-width.introduction-box#partnerpackageIntroduction
		div.introduction-content.book-intro
			p.
				A printed document that informs new SVP partners about the general FAQ of the company and what it means to be a partner.
	
	section.content-width.portfolio-text.overlapping-box#partnerpackage-problem
		span.folders
		
		div.text-box.with-bg.float-right
			h2 PROBLEM
			p.
				In the past, the information package consisted of 10 pieces of loose paper placed in a folder. 
				This was disorganized and what was included in the package was not clearly defined. 
				New partners could lose vital pieces of information since the sheets could easily fall out.
				
		div(style="clear: both;line-height:0;") &nbsp;
		
	section.content-width.portfolio-text.overlapping-solution#partnerpackageSolution
		div.text-box.with-bg.float-left.top
			h2 SOLUTION
			p.
				With the Manager of Operations, we came up with some possible solutions. I proposed to create a single 
				cohesive document that included all the original sections. 
				This document is designed to be easily navigated by new partners. Some usability features that I focused on were:
				
		div.text-box.float-left.middle
			h2 TABLE OF CONTENTS
			p.
				This acts as a navigation for the document and gives a high level view of the document at a glance.
				
		div.text-box.float-left.middle
			h2 FAQ PAGE
			p.
				Enhanced visibility by increasing the font-weight of contact email and social media usernames 
				for partners to seek out important information.
				
		div.text-box.float-left.bottom
			h2 OVERALL THEME
			p.
				Colour coded each section, and maintained a constant theme. This gives a visual indication to know when a 
				section has started and ended. This allows partners to easily identify the different topics.
		
		div.imagebox.float-right
			img(src="images/partnerpackage/packagestack.png")
				
		div(style="clear: both;line-height:0;") &nbsp;
