extends ./layout.jade

block title
	title Ruby Cheung - Shopify Interns Page

block content
	section.portfolio-hero.full-width.full-height#shopifyinternsSplash
		div.main-content.summary
			div.summary-container
				h1 Shopify Interns Page
				div
					h4.skinny-text March 3-4, 2016
					h4 
						| Role: 
						span.skinny-text Designer
					h4 
						| Hackathon: 
						span.skinny-text Shopify Hack Days
	
	section.main-content.body
		div.body-container
			p.
				Worked in a team of 6 people to create a landing page that allows potential interns to understand what it's like to join Shopify. I worked alongside a Shopify designer to do the information architecture of the page, and create mocks that explore different ways of displaying the information we wanted to present.
			
	section.footer
		div.footer-label-container#flippfinds
			h1.footer-label CURRENT LOOK
			a(href="http://shopify.com/careers/interns").view-website VIEW WEBSITE
		div.main-content.footer-content
			img(src="images/shopifyinterns/current-look.jpg")
			
