/****************************** Portfolio Nav Slider */
/* Activated by hamburger portfolio menu item*/

.hilight {
	font-weight: bold;
	color: #FFF !important;
}

.navSlider {
	background-color: black;
	opacity: 0.75;
	position:fixed;
	width: 400px;
	height: 100%;

	z-index: 5;
}

.navSlider li h2 {
	color: #a39a95;
	font-size: 25px;
	margin-bottom: 5px;
}

.navSlider li {
	font-size: 1vw;
	padding-top: 5px;
	padding-bottom: 5px;
	list-style-type: none;
}

.navSlider li a {
	text-decoration: none;	
	color: #888;
	font-size: 17px;
}


/****************************** Nav */
.navBackground {
	position:fixed;
	top: 0;
	width: 100%;
	height: 76px;
	background-color: #fff;
	z-index: 3;
}

.nav .home {
	position: fixed;
	left: 0;
}

.nav .home img {
	float:left;
	display: inline-block;	
	height: 76px;
	padding-left: 150px;
}

.nav {
	font-weight: bold;
	color: #fff;
	padding-top: 0px;
	position:fixed;
	z-index: 7;
}

.nav .links {
	float: right;
	display: inline-block;
	position:fixed;
	right: 0;
	height: 70px;
	padding-right: 50px;
	letter-spacing: 5px;
	font-size: 25px;
}

.nav .links ul {
	list-style-type: none;
}

.nav .links li {
	display: inline;
	padding-left: 50px;
	cursor:pointer;
}

#nav-toggle {
}

#nav-toggle span {
	z-index:15;
	position: fixed;
    top: 36px;
    right: 35px;
    display: inline-block;
    cursor:pointer;
}

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #c49a6c;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}



/****************************** Portfolio Items */

.fp-slides {
	overflow-y: visible !important;
}
.fp-tableCell {
	display: block !important;
	height: 100% !important;
}

.fp-controlArrow.fp-prev {
	background-image: url(../Images/Shared/Arrow_right2.png);
	background-size: contain;
	background-repeat: no-repeat;
	border: 0 !important;
	width: 70px !important;
	height: 70px !important;
	opacity: 0.7;

	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
/*	top: initial;
    bottom: 15px !important;*/
}
.fp-controlArrow.fp-next {
	background-image: url(../Images/Shared/Arrow_right2.png);
	background-size: contain;
	background-repeat: no-repeat;
	border: 0 !important;
	width: 70px !important;
	height: 70px !important;
	padding-right: 15px;
	opacity: 0.7;
	/*top: initial;
	bottom: 15px !important;*/
}



/************************* BBQ */
#BBQ .jumbotron {
	background-image: linear-gradient(to top, rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,1)), url(../Images/Portfolio/BBQ/HeaderPicture.jpg); 

	background-repeat: no-repeat;
	background-color: black;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	display:block;
	overflow: hidden;
	text-align: center
}


#BBQ .description {
	height: 60%
}

#BBQ .description#short {
	height: 60%
}

#BBQ .imageBoxLeft
{
	float:left;
	margin-left: 7.5%;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	display:block;
	width: 30%;
	height: 50%;
	max-width: 693px;
	max-height: 856px;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#BBQ .imageBoxRight
{
	float:right;
	margin-right: 15%;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	display:block;
	width: 35%;
	height: 50%;
	max-width: 693px;
	max-height: 856px;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#BBQ .description .imageBoxLeft#image1 {
	background-image: url(../Images/Portfolio/BBQ/ComputerPicture.png);
	height: 85%;
	max-height: none;
	max-width: none;
	margin-left: 0;
	width: 42.5%;
}

#BBQ .description .imageBoxRight#image2 {
	background-image: url(../Images/Portfolio/BBQ/tablet.png);
	margin-right: 0;
	max-height: none;
	max-width: none;
	width: 50%;
	height: 80%;
}

#BBQ .description .imageBoxLeft#image3 {
	background-image: url(../Images/Portfolio/BBQ/live.png);
	max-height: none;
	max-width:none;
	margin-left: 0;
	width: 50%;
	height: 90%;
}

#BBQ .description .textBoxRight {
	color: #8d8f92;
	float:right;
	width: calc(35% - 1px);
	height: calc(100% - 1px);
	padding-bottom:  0px;
	padding-left: 7.5%;
	padding-right: 7.5%;
	line-height: 40px;
	border-left: 1px #d2d2d2 solid;
	border-bottom: 1px #686868 solid;
	padding-top: 0px;

	position: relative;
}

#BBQ .description .textBoxRight .text {

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#BBQ .description .textBoxLeft {
	top:50%;
	color: #8d8f92;
	transform: translateY(-50%);
	float:left;
	width: 35%;
	padding-left: 7.5%;
	line-height: 40px;

	position: relative;
}

#BBQ .description .textBoxRight#text3 {
	top:50%;
	transform: translateY(-50%);
	border-top: 1px #d2d2d2 solid;
	padding-top: 0;
	height:100%;
	padding-bottom: 33px;
	border-bottom:none;

}

#BBQ .description .textBoxRight#text3 {
	position: relative;
	top:50%;
	transform: translateY(-50%);
}


#BBQ #coloredBox {
	position:absolute;
	left: -37px;
	line-height: 70px;
	width: 70px;
	text-align: center;
}

#BBQ .description h2 {
	color: #c79a72;
}




/************************* Impact Report */

#impactreport .jumbotron {
	background-image: linear-gradient(to top, rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,1)), url(../Images/Portfolio/impactreport/jumbotron.jpg);
	background-repeat: no-repeat;
	background-color: black;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	display:block;
	overflow: hidden;
	text-align: center
}

#impactreport .description#elementone {
	height: 60%
	/*max-height: 885px;*/
}

#impactreport .description#elementtwo {
	height: 60%
}

#impactreport .description#elementthree {
	height: 60%
	/*max-height: 885px;*/
}

#impactreport .description .issuuContainer {
	float:right;
	overflow:hidden;
	max-width: 1264px;
	max-height: 885px;
	height: 80%;
	width: 50%;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#impactreport .description #issuuPackage {
	height: 100%;
	width:calc(100% + 125px);
}

#impactreport .spacer {
	width:100%;
	height: 100px;
}

#impactreport .description .imageBox {
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	max-width: 1264px;
	max-height: 885px;
	height: 100%;
	width: 49%;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#impactreport .description .textBox {
	width: 35%;
	margin-left: 7.5%;
	margin-right: 7.5%;
	line-height: 40px;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#impactreport .description .textBox h2 {
	color: #c9b59a;
}


#impactreport .description .imageBox#elementone {
	background-image: url(../Images/Portfolio/impactreport/ElementOne.jpg);
	float:left;
    background-position: left center;
    height: 80%;

}

#impactreport .description .textBox#elementone {
	float:right;
}

#impactreport .description .wrapper#elementtwo {
	float:left;
	height: 80%;
	width: calc(42.5% - 1px);
	margin-left: 7.5%;
	border: 1px #686868 solid;
	border-right: none;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#impactreport .description .imageBox#elementtwo {
	float:right;
	background-image: url(../Images/Portfolio/impactreport/ElementTwo.png);
	background-position: left center;
    width: 50%;
    height: 80%;
}

#impactreport .description .textBox#elementtwo {
	width: auto;

}

#impactreport .description .imageBox#elementthree {
	background-image: url(../Images/Portfolio/impactreport/toc.png);
	float:left;
	background-position: left center;
}

#impactreport .description .textBox#elementthree {
	float:right;
}

#impactreport #coloredBox {
	position:absolute;
	bottom: -37px;
	line-height: 70px;
	width: 70px;
	text-align: center;

}
/************************* Knowledge hook */

#knowledgehook .nav {
	font-weight: bold;
	color: #c79a72;
	margin-top: -1px;
	width: 20%; /* UPDATE THIS TO BE (100% / NUMBER OF HORIZONTAL PAGES) */
	height: 75px;
	display:block;
	background-color: #fff;
}

#knowledgehook .jumbotron {
	background-image: linear-gradient(to top, rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,1)), url(../Images/Portfolio/knowledgehook/HeaderPicture.jpg);
	background-repeat: no-repeat;
	background-color: black;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	display:block;
	overflow: hidden;
	text-align: center;
}

#knowledgehook .description{
	height: 60%;
}
#knowledgehook .description#short {
	height: 60%;
}

#knowledgehook .description .imageBox {
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	height: 96%;
	width: 42.5%;
	padding-top: 5px;

	margin-right: 7.5%;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#knowledgehook .description .imageBox#elementone {
	float:left;
	margin-right:0px;
	width:50%;
	background-position: left center;
	background-image: url(../Images/Portfolio/knowledgehook/ElementOne.jpg);
}

#knowledgehook .description .imageBox#elementtwo {
	float:right;
	background-color:#f3e3ce;
	margin-right:0px;
	width:50%;
	height: 70%;
	background-image: url(../Images/Portfolio/knowledgehook/ElementTwo.png);
}

#knowledgehook .description .imageBox#elementthree {
	float:left;
	margin-right:0px;
	width:50%;
	    background-position: left;
	background-image: url(../Images/Portfolio/knowledgehook/elementthree.png);
}

#knowledgehook .description .wrapper#elementtwo {
	float:left;
	height: 70%;
	width: calc(42.5% - 1px);
	margin-left: 7.5%;
	border: 1px #686868 solid;
	border-right: none;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#knowledgehook .description .textBox {
	float: left;
	width: 35%;
	margin-left: 7.5%;
	margin-right: 7.5%;
	line-height: 40px;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#knowledgehook .description .wrapper#elementtwo .textBox {
	float: right;
	width: 85%;
	margin-left: 7.5%;
	margin-right: 7.5%;
	line-height: 40px;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#knowledgehook .description .textBox {
	float: right;
}

#knowledgehook #coloredBox {
	position:absolute;
	bottom: -37px;
	line-height: 70px;
	width: 70px;
	text-align: center;

}

#knowledgehook .description .textBox h2 {
	color: #c9b59a;
}



/************************* Partner Package */

#partnerpackage .jumbotron {
	background-image: linear-gradient(to top, rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,1)), url(../Images/Portfolio/partnerpackage/jumbotron.jpg);
	background-repeat: no-repeat;
	background-color: black;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	display:block;
	overflow: hidden;
	text-align: center
}

#partnerpackage .description#elementone{
	height: 60%;
	/*max-height: 885px;*/
}

#partnerpackage .description#elementtwo {
	height: 60%;
}

#partnerpackage .description#elementthree{
	height: 60%;
	/*max-height: 885px;*/
}

#partnerpackage .description .imageBox {
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	max-width: 1264px;
	max-height: 885px;
	height: 100%;
	width: 49%;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#partnerpackage .description .issuuContainer {
	float:right;
	overflow:hidden;
	max-width: 1264px;
	max-height: 885px;
	height: 80%;
	width: 50%;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#partnerpackage .description #issuuPackage {
	height: 100%;
	width:calc(100% + 125px);
}



#partnerpackage .description .textBox {
	width: 35%;
	margin-left: 7.5%;
	margin-right: 7.5%;
	line-height: 40px;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#partnerpackage .description .textBox h2 {
	color: #c9b59a;
}


#partnerpackage .description .imageBox#elementone {
	background-image: url(../Images/Portfolio/partnerpackage/ElementOne.jpg);
	background-position: left center;
	float:left;
	height: 80%;
}

#partnerpackage .description .textBox#elementone {
	float:right;
}

#partnerpackage .description .wrapper#elementtwo {
	float:left;
	height: 80%;
	width: calc(42.5% - 1px);
	margin-left: 7.5%;
	border: 1px #686868 solid;
	border-right: none;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#partnerpackage .description .textBox#elementtwo {
	width: auto;
}

#partnerpackage .description .imageBox#elementthree {
	background-image: url(../Images/Portfolio/partnerpackage/ipad.png);
	float:left;
}

#partnerpackage .description .textBox#elementthree {
	margin-right: 7.5%;
	margin-left: 0;
	width: 42.5%;
	float:right;
}

#partnerpackage #coloredBox {
	position:absolute;
	bottom: -37px;
	line-height: 70px;
	width: 70px;
	text-align: center;

}

/************************* Partners Meeting */
#partnersmeeting .jumbotron {
	background-image: linear-gradient(to top, rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,1)), url(../Images/Portfolio/partnersmeeting/HeaderPicture.jpg);
	background-repeat: no-repeat;
	background-color: black;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	display:block;
	overflow: hidden;
	text-align: center
}

#partnersmeeting .description {
	height: 60%;
}


#partnersmeeting .description#elementtwo {
	height: 60%;
}

#partnersmeeting .description .imageBox {
	float:left;
	margin-left: 7.5%;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	display:block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#partnersmeeting .description .imageBox#elementone {
	background-image: url(../Images/Portfolio/partnersmeeting/ElementOne.png);
	width: 42.5%;
	height: 100%;
	margin-left:0;
}

#partnersmeeting .description .imageBox#elementtwo {
	float:right;
	background-image: url(../Images/Portfolio/partnersmeeting/ElementTwo.png);
	width: 45%;
	margin-right: 3.75%;
	margin-left: 3.75%;
	height: 80%;
}

#partnersmeeting .description .imageBox#elementthree {
	background-image: url(../Images/Portfolio/partnersmeeting/ElementThree.png);
	width: 42.5%;
	height: 100%;
}

#partnersmeeting .description .textBox {

	float:right;
	width: calc(42.5% - 110px);
	height: 60%;
	padding-left: 100px;
	padding-right: 7.5%;
	line-height: 40px;
	border-left: 1px #d2d2d2 solid;
	border-bottom: 1px #686868 solid;
	padding-top: 250px;

	position: relative;
}

#partnersmeeting .description .textBox .text {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#partnersmeeting .description .textBox#elementone {
	padding-top: 0px;
	padding-bottom: 0px;
	height: calc(100% - 1px);
}

#partnersmeeting .description .textBox#elementtwo {
	float:left;
	border:none;
	padding-top: 0px;
	top: 50%;
	height: auto;
	margin-top: 0;
    width: calc(42.5% - 150px);
    padding-right:0;
    padding-left:0;
    margin-left: 150px;
	transform: translateY(-50%);
}
#partnerpackage .description .wrapper#elementtwo {
	float:left;
	height: 80%;
	width: calc(42.5% - 1px);
	margin-left: 7.5%;
	border: 1px #686868 solid;
	border-right: none;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


#partnersmeeting .description .textBox#elementthree {
	float:right;
	padding-top: 20px;
	padding-bottom: 20px;
	width: calc(35% - 102px);
	height:100%;
	border:none;
	border: 1px #d2d2d2 solid;
	border-right: none;

	top:50%;
	transform: translateY(-50%);
}

#partnersmeeting .description .wrapper {
	float:right;
	width: calc(42.5% - 102px);
	height: 95%;
	margin-top: 5%;
	padding-left: 100px;
	padding-right: 7.5%;
	border-top: 1px #d2d2d2 solid;
	border-left: 1px #d2d2d2 solid;
}

#partnersmeeting #coloredBox {
	position:absolute;
	left: -37px;
	line-height: 70px;
	width: 70px;
	text-align: center;

	top: 50%;
	transform: translateY(-50%);
}

#partnersmeeting .description .textBox h2 {
	color: #c79a72;
}





/****************************** Universal */

.textBoxLeft {
	line-height: 3vh !important;
}

.textBoxRight {
	line-height: 3vh !important;
}

.textBox {
	line-height: 3vh !important;
}

@media screen and (max-width: 1000px) {

	.description {
		height: 80% !important;
	}

	.textBoxLeft {
		height: 50% !important;
		width: calc(100% - 200px)  !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		transform: none !important;
		top: initial !important;
		margin-left: 100px !important;
		margin-right: 100px !important;
		border: none !important;
		font-size: 25px !important;
	}
	.textBoxRight {
		height: 50% !important;
		width: calc(100% - 200px)  !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		transform: none !important;
		top: initial !important;
		margin-left: 100px !important;
		margin-right: 100px !important;
		border: none !important;
		font-size: 25px !important;
	}
	.textBox {
		height: 50% !important;
		width: calc(100% - 200px)  !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		transform: none !important;
		top: initial !important;
		margin-left: 100px !important;
		margin-right: 100px !important;
		border: none !important;
		font-size: 25px !important;
	}
	.imageBoxRight {
		height: 50% !important;
		width: 100% !important;
		transform: none !important;
		top: initial !important;
	}
	.imageBoxLeft {
		height: 50% !important;
		width: 100% !important;
		transform: none !important;
		top: initial !important;
	}
	.imageBox {
		height: 50% !important;
		width: 100% !important;
		transform: none !important;
		top: initial !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.description .issuuContainer {
		height: 50% !important;
		width: 100% !important;
		transform: none !important;
		top: initial !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.description .wrapper#elementtwo {
		border: none !important;
		height: 50% !important;
		width: 100% !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		transform: none !important;
		top: initial !important;
		margin-left: 0px !important;
		margin-right: 0px !important;
		font-size: 25px !important;
	}

	#impactreport .imageBox#elementone {
		height: 35% !important;
		background-position: center center !important;
	}
	#impactreport .imageBox#elementtwo {
		height: 35% !important;
		background-position: center center !important;
	}

	#partnerpackage .imageBox#elementone{
		height: 35% !important;
		background-position: center center !important;
	}

	#knowledgehook .imageBox#elementone {
		height: 35% !important;
		background-position: center center !important;
	}

	#coloredBox {
		display:none;
	}

	.fp-controlArrow.fp-prev {
		display:none;
	}
	.fp-controlArrow.fp-next {
		display:none;
	}

	.sevenpointfivepercentbox {
		height: 7.5%;
		width: 100%;
	}
}

.jumbotron {
	height: calc(100% - 76px) !important;
}

.jumbotronspacer {
	width: 100%;
	height: 76px;
}

ul.ComingSoonList {
	color: #c9b49a;
	letter-spacing: 5px;
	line-height: 30px;
	text-align: right;
}

ul.ComingSoonList li {
	list-style-type: none;
}

ul.ComingSoonList #borderLeft {
	height: 95px;
    padding-top: 10px;
    left: 0;
    position: absolute;

	border-left: 1px solid #c9b49a;
}

#circle {
	width: 13px;
	height: 13px;
	background: #c9b49a;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display:inline-block;
}

#icon_HEADERARROW {
	position: absolute;
	display: inline-block;
	transform: translateX(-50px);
	bottom: 30px;
	background-image: url(../Images/Shared/HeaderArrow.png);
	background-size: 100px 100px;
	width: 100px;
	height: 100px;
}

.footer {
	height: 200px;
	background-color: #e2ccb8;
}

.footer ul {
	list-style-type: none;
	width: 351px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

.textBox {
	text-align: justify;
}

.textBoxRight {
	text-align: justify;
}

.textBoxLeft {
	text-align: justify;
}


.footer ul li {
	float:left;
	display: inline;
	margin-right: 40px;
}

.CopyRight {
	color:white;
	opacity: 0.5;
	padding-top: 30px;
}

html{
	 height:100%;
	 min-height:100%;
	 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 }
body{
	color: #8d8f92;
	margin: 0;
	height: 100%;
	font-size: 17px;
 	min-height:100%;
 	overflow-y: scroll;
	overflow-x: hidden;
 }